/* Styles for the row */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Styles for the columns */
.column {
  flex: 50%;
  padding: 10px;
}

.column img {
    display: block;
    margin: 0 auto; /* This will centre the image horizontally */
  }

/* Responsive layout - makes the columns stack on top of each other on small screens */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
  }
}

/* Overrides default white colour*/
.fa-inverse {
    color: #393F50 !important;
}
